.wrap.settings-wrap, .prince-metabox-wrapper {
  .ui-tabs-nav {
    margin-top: -15px;

    & > li {
      margin-left: 3px;

      & > a {
        border-bottom: 1px dashed #ddd !important;
        padding: 8px 5px 8px 12px !important;

        &:focus {
          box-shadow: none !important;
        }
      }

      &.ui-tabs-active, &.ui-state-active {
        background: #333 !important;

        & > a {
          color: #fff !important;
          border-bottom: 1px solid transparent !important;

          &:hover {
            color: darken(#fff, 15%);
          }
        }
      }

      &:last-child {
        & > a {
          border-bottom: 1px solid transparent !important;
        }
      }

    }
  }
}

//reset btn
button.reset-settings {
  margin-top: -8px !important;
}
