.wrap.settings-wrap, .prince-metabox-wrapper {
  .ui-tabs-nav {
    margin-top: -15px;

    & > li {
      margin-left: 3px;

      & > a {
        border-bottom: 1px dashed #ddd !important;
        padding: 8px 5px 8px 12px !important;

        &:focus {
          box-shadow: none !important;
        }
      }

      &.ui-tabs-active, &.ui-state-active {
        background: #333 !important;

        & > a {
          color: #fff !important;
          border-bottom: 1px solid transparent !important;

          &:hover {
            color: darken(#fff, 15%);
          }
        }
      }

      &:last-child {
        & > a {
          border-bottom: 1px solid transparent !important;
        }
      }

    }
  }

  /* Header Tabs */
  #poststuff {
    .prince-settings-nav {
      & > li {
        margin: 0;
        border-radius: 0;
        border-right: 1px solid transparent;

        & > .ui-tabs-anchor {
          border-bottom: 1px solid #ccc !important;
        }

        &.ui-tabs-active {
          margin: -1px 0 -3px 0px;
          padding: 1px 0 0;
        }

        &:last-child {
          border-right: 1px solid #ccc !important;
        }
      }
    }
  }

  button[type=submit]{
    cursor: pointer;
  }

}
